# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Large processed ML datasets
Backend/data/processed/*.npy
Backend/data/processed/*.npz

# Jupyter
.ipynb_checkpoints/

# Environment files
.env